<template>
  <div class="nav-principal">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <router-link class="navbar-brand" to="/">Allugator</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item fr">
            <router-link class="nav-link" to="/produtos" :class="{'active': $route.name === 'produtos'}">Produtos</router-link>
          </li>
          <li class="nav-item dropdown" v-if="isUsuarioLogado">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ usuarioLogado.login }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link class="dropdown-item" to="/meus-produtos" :class="{'active': $route.name === 'meus_produtos'}">Meus produtos</router-link>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href @click.prevent="logout()">Sair</a>
            </div>
          </li>
          <li class="nav-item fr" v-if="!isUsuarioLogado">
            <router-link  class="nav-link" to="/login" :class="{'active': $route.name === 'login'}">Entrar</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      isUsuarioLogado: 'getIsUsuarioLogado',
      usuarioLogado: 'getUsuarioLogado',
    })
  },
  methods: {
    logout () {
      localStorage.removeItem('token')
      this.$store.dispatch('setIsUsuarioLogado', false)
      this.$store.dispatch('setUsuarioLogado', {})

      this.$router.push('/')
    }
  }
}
</script>

