<template>
  <div class="row justify-content-center">
    <div class="col-8">
        <div class="jumbotron jumbotron-fluid">
          <div class="container" v-if="!isUsuarioLogado">
            <h1 class="display-4">Allugator produtos</h1>
            <p class="lead">Este é um sistema de CRUD simples onde se cadastram produtos com taxas adicionais.</p>
            <p class="lead">
              <router-link class="btn btn-primary btn-lg" to="/login">Entrar</router-link>
            </p>
          </div>
          <div class="container" v-else>
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">ao sistema de cadastro de produtos</p>
            <p class="lead">
              <router-link class="btn btn-primary btn-lg" to="/produto">Cadastrar um produto</router-link>
            </p>
          </div>
        </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      isUsuarioLogado: 'getIsUsuarioLogado',
      usuarioLogado: 'getUsuarioLogado',
    })
  },
}
</script>
