<template>
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Cadastrar Produto</h1>
      <br>
      <el-form :model="produto" status-icon :rules="allrules" ref="produto" label-width="120px" class="demo-ruleForm">
        <el-form-item label="Nome" prop="nome">
          <el-input type="text" v-model="produto.nome" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Preço (R$)" prop="preco">
          <el-input type="text" v-model="produto.preco" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Foto" prop="foto">
          <!-- <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove">
            <i class="el-icon-plus"></i>
          </el-upload>
          <el-dialog :visible.sync="dialogVisible" size="tiny">
            <img width="100%" :src="dialogImageUrl" alt="">
          </el-dialog> -->
          <el-input type="text" v-model="produto.foto" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('produto')">Submit</el-button>
          <el-button @click="resetForm('produto')">Reset</el-button>
        </el-form-item>
      </el-form>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      allrules: {
          preco: [
            { required: true, message: 'Por favor informe um preço', trigger: 'blur' },
          ],
          foto: [
            { required: true, message: 'Por favor selecione uma foto', trigger: 'blur' },
          ],
      },
      produto: {
        nome: '',
        preco: '',
        foto: '',
        owner: null,
        id: null,
        criado_em: null
      },
      dialogImageUrl: '',
      dialogVisible: false,
      price: '',
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        suffix: '',
        precision: 2,
      }
    }
  },
  computed: {
    ...mapGetters({
      isUsuarioLogado: 'getIsUsuarioLogado',
      usuarioLogado: 'getUsuarioLogado',
    })
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.save();
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    async save() {
      console.log('produto-save', this.produto)

      var self = this;

      const { produto } = this
      // create
      const response = await http.post(
        '/produtos',
        {
          id: null,
          nome: produto.nome,
          preco: produto.preco,
          foto: produto.foto,
          owner: self.usuarioLogado.id,
          criado_em: produto.criado_em
        }
      )
      console.log(response);
      if(response.status === 201) {
        this.$toastr('success', 'Produto criado com sucesso!');
        this.$router.push({ name: 'meus_produtos' })
      } else {
        this.$toastr('error', 'Houve um erro, confira seus dados.');
      }
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.produto.foto = file.url
      this.dialogVisible = true;
    },
  },
  created () {
    this.produto.owner = this.usuarioLogado.id
  },
  mounted () {

  }

}
</script>

