<template>
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Editar Produto</h1>
      <br>
      <div class="alert alert-primary" role="alert">
        INFO: Todo produto tem uma taxa de 10% encima do seu valor
      </div>
      <br>
      <el-form :model="produto" status-icon :rules="allrules" ref="produto" label-width="120px" class="demo-ruleForm">
        <el-form-item label="Nome" prop="nome">
          <el-input type="text" v-model="produto.nome" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Preço (R$)" prop="preco">
          <el-input type="text" v-model="produto.preco" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Foto" prop="foto">
          <!-- <el-upload
            :name="produto.foto"
            class="upload-demo"
            ref="upload"
            action="https://jsonplaceholder.typicode.com/posts/"
            :auto-upload="false">
            <el-button slot="trigger" size="small" type="primary">select file</el-button>
            <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
          </el-upload> -->
         <el-input type="text" v-model="produto.foto" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('produto')">Submit</el-button>
          <el-button @click="resetForm('produto')">Reset</el-button>
        </el-form-item>
      </el-form>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import produtos from '@/mixins/produtos.js'

export default {
  mixins: [produtos],
  data () {
    return {
      allrules: {
          preco: [
            { required: true, message: 'Por favor informe um preço', trigger: 'blur' },
          ],
          foto: [
            { required: true, message: 'Por favor selecione uma foto', trigger: 'blur' },
          ],
      },
      img: [],
      produto: {},
      dialogImageUrl: '',
      dialogVisible: false,
      price: '',
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        suffix: '',
        precision: 2,
      },
      imageUrl: ''
    }
  },
  computed: {
    ...mapGetters({
      isUsuarioLogado: 'getIsUsuarioLogado',
      usuarioLogado: 'getUsuarioLogado',
      allprodutos: 'getAllProdutos'
    })
  },
  methods: {
    submitUpload() {
      this.$refs.upload.submit();
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.save();
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    async save() {

      var self = this;

      const { produto } = this
      // create
      const response = await http.put(
        '/produtos/'+produto.id,
        {
          id: produto.id,
          nome: produto.nome,
          preco: produto.preco,
          foto: produto.foto,
          owner: self.usuarioLogado.id,
          criado_em: produto.criado_em
        }
      )
      console.log('response', response);
      if(response.status === 200) {
        this.$toastr('success', 'Produto alterado com sucesso!');
        this.$router.go(-1)
      } else {
        this.$toastr('error', 'Houve um erro, confira seus dados.');
      }
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.produto.foto = file.url
      this.dialogVisible = true;
    },
  },
  created () {
    this.getDataOwner();
  },
  mounted () {
    this.produto = this.allprodutos.find((v) => {
      return v.id === this.$route.params.id
    })

    if(typeof this.produto === "undefined") {
      this.$router.push({ name: 'produtos' });
    }
  }

}
</script>

