<template>
  <div class="row justify-content-center">

    <div class="col-8">
      <h1>Meus produtos</h1>
      <br>
      <button type="button" class="btn btn-primary btn-novo-produto" @click="handleNovoProduto()" v-if="isUsuarioLogado">Novo produto</button>
      <br>
      <el-input placeholder="digite o que procura..." v-model="filtro"></el-input>
      <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
        label="Nome"
        >
        <template slot-scope="scope" v-if="filtrando(scope.$index, scope.row)">
          <span style="">{{ scope.row.nome }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Preço"
        >
        <template slot-scope="scope" v-if="filtrando(scope.$index, scope.row)">
          <span style="">R$ {{ scope.row.preco }} <br> com taxa(10%): R$ {{ (scope.row.preco*1.1).toFixed(2) }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Foto"
        >
        <template slot-scope="scope" v-if="filtrando(scope.$index, scope.row)">
          <span style="">{{ scope.row.foto }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Ações">
        <template slot-scope="scope" v-if="filtrando(scope.$index, scope.row)">
          <el-button
            size="mini"
            @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import produtos from '@/mixins/produtos'

export default {
  mixins: [produtos],
  data () {
    return {
      filtro: '',
    }
  },
  computed: {
    ...mapGetters({
      isUsuarioLogado: 'getIsUsuarioLogado',
      usuarioLogado: 'getUsuarioLogado',
    })
  },
  methods: {
    handleEdit(index, row) {
      console.log(index, row);
      this.$router.push({ name: 'produto_editar', params: { id: row.id }});
    },
    handleDelete(index, row) {
      swal({
        title: 'Você tem certeza?',
        text: "Você não poderá reverter isso!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim, pode deletar!',
        preConfirm: (email) => {
        return new Promise((resolve) => {
          this.deletarProduto(index, row.id)
          resolve();
        })
      },
      allowOutsideClick: () => !swal.isLoading()
      }).then((result) => {
        if (result.value) {
          swal(
            'Deletado!',
            'O produto foi deletado com sucesso.',
            'success'
          )
        }
      })
      console.log(index, row);
    },
    async deletarProduto(index, id) {
      const response = await http.delete('/produtos/'+id, {
        id: id
      })
      console.log('delete-response', response);

      if(response.status === 204) {
        this.tableData.splice(index,1);
        swal('', 'Deletado com sucesso', 'success')
      }
    },
    handleNovoProduto() {
      this.$router.push({ name: 'produto_cadastrar' })
    },
    filtrando(index, row) {
      return (
        row.nome.toLowerCase().includes(this.filtro.toLowerCase()) === true ||
        row.preco.toLowerCase().includes(this.filtro.toLowerCase()) === true ||
        row.foto.toLowerCase().includes(this.filtro.toLowerCase()) === true
      )
    }
  },
  mounted() {
    this.getDataOwner();
    console.log('tableData', this.tableData);

  }
}
</script>
