<template>
  <div class="row justify-content-center">

    <div class="col-8">
      <h1>Produtos</h1>
      <br>
      <button type="button" class="btn btn-primary btn-novo-produto" @click="handleNovoProduto()" v-if="isUsuarioLogado">Novo produto</button>
      <br>
      <el-input placeholder="digite o que procura..." v-model="filtro"></el-input>
      <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
        label="Nome"
        >
          <template slot-scope="scope" v-if="filtrando(scope.$index, scope.row)">
            <span style="">{{ scope.row.nome }}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="Preço"
          >
          <template slot-scope="scope" v-if="filtrando(scope.$index, scope.row)">
            <span style="">R$ {{ scope.row.preco }} <br> com taxa(10%): R$ {{ (scope.row.preco*1.1).toFixed(2) }}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="Foto"
          >
          <template slot-scope="scope" v-if="filtrando(scope.$index, scope.row)">
            <span style="">{{ scope.row.foto }}</span>
          </template>
        </el-table-column>
    </el-table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import produtos from '@/mixins/produtos'

export default {
  mixins: [produtos],
  data () {
    return {
      filtro: ''
    }
  },
  computed: {
    ...mapGetters({
      isUsuarioLogado: 'getIsUsuarioLogado',
      usuarioLogado: 'getUsuarioLogado',
    })
  },
  methods: {
    handleNovoProduto() {
      this.$router.push({ name: 'produto_cadastrar' })
    },
    filtrando(index, row) {
      return (
        row.nome.toLowerCase().includes(this.filtro.toLowerCase()) === true ||
        row.preco.toLowerCase().includes(this.filtro.toLowerCase()) === true ||
        row.foto.toLowerCase().includes(this.filtro.toLowerCase()) === true
      )

    }
  },
  mounted() {
    this.getDataNotOwner();
  }
}
</script>

