<template>
  <div id="app">
    <TheHeader></TheHeader>
    <div class="container-fluid">
      <router-view/>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/the-header'

export default {
  name: 'App',
  components: {
    TheHeader
  }
}
</script>

<style lang="sass">
@import './assets/sass/app.scss'
</style>
